.btn {
  font-family: $font-secondary;
  background-color: $color-secondary;
  color: $color-white;
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  &--favorite {
    width: 150px;
    margin-top: 20px;
  }
  &--delete {
    font-size: 7px;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    background-color: $color-primary;
    color: $color-white;
    position: absolute;
    top: -6px;
    left: 65px;
  }
}
