// fonts
$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Nunito Sans', sans-serif;

//colors
$color-primary: #495867;
$color-secondary: #fe5f55;
$color-terciary: #f4b5b1;
$color-white: #ffffff;
