.list--favorites {
  display: flex;
  flex-wrap: wrap;
}

.list--item--fav {
  position: relative;
  margin-bottom: 15px;
  width: 80px;
  margin: 0 10px 10px 5px;
}

.heart {
  margin-top: 7px;
  color: $color-terciary;
}

.img--fav {
  height: 100px;
  border-radius: 10px;
}
