body {
  height: 100vh;
  padding: 25px;
  color: $color-primary;
  font-family: $font-main;
  background-color: $color-white;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.main--wrapper {
  display: flex;
}

.column--wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.form {
  width: 300px;
  margin-bottom: 15px;
}

.input {
  font-family: $font-secondary;
  padding-left: 10px;
  width: 210px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid $color-primary;
  margin-bottom: 10px;
  &::placeholder {
    font-family: $font-secondary;
  }
}

.list {
  list-style: none;
}

.title {
  font-size: 22px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 20px;
}

.message {
  font-family: $font-secondary;
}
