body {
  height: 100vh;
  color: #495867;
  font-family: $font-main;
  background-color: #ffffff;
  padding: 25px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.main--wrapper {
  display: flex;
}

.column--wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.title {
  font-size: 22px;
  margin-bottom: 10px;
}

.form {
  width: 300px;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 20px;
}

.title--show {
  font-size: 12px;
  margin-top: 8px;
}

.img {
  height: 150px;
  border-radius: 10px;
}

.img--fav {
  height: 100px;
  border-radius: 10px;
}

.list {
  list-style: none;
}

.list--item {
  padding-top: 20px;
  text-align: center;
  margin: 0 10px 10px 5px;
  width: 150px;
  height: 220px;
  cursor: pointer;
  background-color: white;
  color: #495867;
  border-radius: 10px;
  border: 1px solid #495867;
}

.favorite {
  background-color: #bdd5ea;
  color: #577399;
  border-radius: 10px;
}

.list--results {
  display: flex;
  flex-wrap: wrap;
}

.list--favorites {
  display: flex;
  flex-wrap: wrap;
}

.li--fav {
  position: relative;
  margin-bottom: 15px;
  width: 80px;
  margin: 0 10px 10px 5px;
}

.input {
  padding: 5px;
  width: 190px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #555b6e;
  margin-bottom: 10px;
}

.btn {
  background-color: #fe5f55;
  color: white;
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
}

.btn--favorite {
  width: 150px;
  margin-top: 10px;
}

.btn--remove {
  font-size: 8px;
  width: 15px;
  height: 15px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  position: absolute;
  top: -6px;
  left: 65px;
}
