.list--results {
  display: flex;
  flex-wrap: wrap;
}

.list--item {
  // padding-top: 20px;
  margin: 0 15px 15px 0;
  width: 130px;
  height: 260px;
  text-align: center;
  cursor: pointer;
  // background-color: $color-white;
  color: $color-primary;
}

.title--show {
  font-size: 12px;
  margin-top: 8px;
}

.img {
  height: 170px;
  border-radius: 10px;
}
