*{box-sizing:border-box;margin:0;padding:0}body{height:100vh;color:#3d405b}.main--wrapper{display:flex}.img{height:180px}.favorite{background-color:#bee3db;color:#6d597a}.list--favorites{width:220px}
